NEXT_PUBLIC_SUPABASE_URL=https://pxbngvmnfsxvbmvxnbsq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_fZTXmdvRiz7jKprwItGPfg_MkHaqKy2
SUPABASE_SERVICE_ROLE_KEY=votre_service_role_key_supabase_dashboard
NEXT_PUBLIC_SITE_URL=http://localhost:3000
